*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
header nav{
    border-bottom: 1px solid rgb(148, 132, 132);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
header nav ul{
    display: flex;
    list-style: none;
    gap: 15px;
}
nav h1{
    font-size: 20px;
}
nav ul a{
    text-decoration: none;
    color: black;
    font-weight: 700;
}
nav input{
    width: 120px;
    height: 23px;
    border-radius: 6px;
    outline: none;
    border: none;
    padding: 5px;
    background-color: rgb(210, 221, 231);
}
nav span{
    font-size: 20px;
}

main{
    display: flex;
}
.side-menu{
    width: 300px;
    margin: 30px 0px 0px 20px;
    line-height: 25px;
}
.side-menu ul{
    list-style: none;
    font-size: 18px;
    margin-top: 15px;
}
.side-menu ul a{
    text-decoration: none;
    color: black;
}
.side-menu ul li a{
    transition: 0.3s;
}
.side-menu ul li a:hover{
    font-weight: 800;
    transition: 0.5s;
}

/* ------main card section--------  */
.card-section{
    width: 100%;
    margin: 80px 0px;
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}
.card-section .card{
    /* border: 1px solid blue; */
    width: 230px;
    height: 300px;
    border-radius: 5px;
    border: 1px solid rgb(156, 153, 153);
    box-shadow: 0px 0px 10px 2px gray;
    transform: scale(1);
    transition: 0.5s;
}
.card-section .card:hover{
    transform: scale(1.08);
    transition: 0.5s;
}
.card-section .card img{
    width: 100%;
    height: 69%;
    border-radius: 5px;
}
.card-section .card a{
    text-decoration: none;
    color: black;
}
.card-section .card p{
    padding: 5px;
    line-height: 20px;
}
.card-section .card a span{
    margin: 5px 0px 5px 0px;
    font-weight: 700;
}


/* =================== SubPage Section ===================== */
.home a{
    width: 40px;
    height: 40px;
    font-size: 24px;
    border: 1.5px solid black;
    padding: 4px;
    position: fixed;
    top: 65px;
    color: black;
}
.image-section{
    width: 60%;
    height: auto;
    /* border: 1px solid red; */
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    gap: 20px;
    margin-bottom: 20px;
    /* background-color: aliceblue; */
}
.image-section img{
    width: 40%;
}

.cart-section{
    width: 300px;
    /* border: 1px solid red; */
    margin: 30px 60px;
    padding: 10px;
}
.cart-section h2{
    margin-left: 15px;
}
.cart-section p{
    line-height: 30px;
}
.cart-section p span{
    font-size: 20px;
    font-weight: 600;
}
.cart-section .size-chart{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.cart-section .size-button{
    /* border: 1px solid pink; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 10px 0px 20px 0px;
}
.cart-section .size-button div{
    width: 80px;
    border: 1px solid rgb(172, 172, 189);
    border-radius: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-section .size-button div.active-btn{
    opacity: 0.5;
    background-color: aliceblue;
}
.cart-section .size-button div:hover{
    opacity: 0.5;
    background-color: aliceblue;
}
.cart-section button{
    width: 100%;
    height: 43px;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 20px;
    font-weight: 600;
    background-color:white;
    margin-bottom: 20px;
}
.cart-section #btn1{
    background-color: black;
    color: white;
}
.cart-section #btn1:hover{
    background-color: rgb(224, 217, 217);
    color: black;
    cursor: pointer;
}
.cart-section #btn2:hover{
    background-color: rgb(107, 102, 102);
    color: white;
}